.hero {
    background-color: black;
    padding-bottom: 2rem;
    position: relative;

    &__modal {
        background: linear-gradient(0deg, rgba(100, 100, 100, 0.7), rgba(100, 100, 100, 0.7)) ,url("../../assets/Pop-Up.png");
        width: 18rem;
        height: 21rem;
        position: absolute;
        top: 14rem;
        left: 6.5rem;

        &-container {
            display: flex;
            flex-direction: column;
            padding: 1.5rem;
        }

        &-control {
            display: flex;
            width: 100%;
            justify-content: end;
        }

        &-exit {
            width: 1rem;
        }

        &-content {
            display: flex;
            flex-direction: column;
        }

        &-title {
            color: white;
            font-family: 'Times New Roman', Times, serif;
            font-size: 2rem;
            font-weight: 400;
            margin-bottom: 0;
        }

        &-description {
            color: white;
            font-size: .75rem;
            margin: 1rem 0;
        }

        &-button {
            height: 2rem;
            font-size: .75rem;
            font-weight: 600;
            margin-top: .5rem;

            &:hover {
                background-color: #f1f1f1;
            }
        }
    }

    &__image {
        width: 100%;
    }

    &__label {
        padding: 0 1.75rem;
    }

    &__title {
        font-family: 'Times New Roman', Times, serif;
        font-size: 3rem;
        font-weight: 400;
        margin-top: 1rem;
        margin-bottom: 0;
        color: white;
    }

    &__tag-line {
        font-size: 1rem;
        font-weight: 300;
        width: 22rem;
        margin: 1rem 0;
        margin-top: 1.25rem;
        line-height: 1.35rem;
        color: white;
    }

    &__shop {
        margin-top: .75rem;
        border-radius: 0%;
        border: none;
        height: 1.75rem;
        font-size: .65rem;
        padding: 0 .75rem;
        font-weight: 600;

        &:hover {
            background-color: black;
            color: white;
            border: 1px solid white;
        }
    }

    &__product {
        font-size: .75rem;
        font-weight: 700;
        text-decoration: underline;
    }
}